<div fxLayout="row">
  <h3>Legend</h3>
</div>
<div fxLayout="row" >
  <div fxFlex="1 1 auto" class="with-icon">
    <mat-checkbox (change)="toggleFilter($event, 'first')"></mat-checkbox>&nbsp; First-in-class: <mat-icon [color]="checked.first ? 'primary' : ''"> verified_user </mat-icon>
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
    <mat-checkbox (change)="toggleFilter($event, 'orphan')"></mat-checkbox>&nbsp; Orphan Designation: <mat-icon [color]="checked.orphan ? 'primary' : ''"> child_friendly </mat-icon>
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
    <mat-checkbox (change)="toggleFilter($event, 'fastTrack')"></mat-checkbox>&nbsp; Fast Track: <mat-icon [color]="checked.fastTrack ? 'primary' : ''"> flight_takeoff </mat-icon>
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
<mat-checkbox (change)="toggleFilter($event, 'breakthrough')"></mat-checkbox>&nbsp; FDA Breakthrough Designation: <mat-icon [color]="checked.breakthrough ? 'primary' : ''"> trending_up </mat-icon>
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
<mat-checkbox (change)="toggleFilter($event, 'priority')"></mat-checkbox>&nbsp; Priority Review: <mat-icon [color]="checked.priority ? 'primary' : ''"> visibility </mat-icon>
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
<mat-checkbox (change)="toggleFilter($event, 'accelerated')"></mat-checkbox>&nbsp; FDA Accelerated Approval: <mat-icon [color]="checked.accelerated ? 'primary' : ''"> fast_forward </mat-icon>
  </div>
</div>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
</mat-form-field>
<mat-table #table [dataSource]="dataSource" matSort >

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Product</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-list>
        <mat-list-item>{{row.name}}</mat-list-item>
      </mat-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="ingredients">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Active Ingredients</mat-header-cell>
    <mat-cell *matCellDef="let row">
{{row.ingredients}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="newIngredients">
    <mat-header-cell *matHeaderCellDef mat-sort-header>New Ingredients</mat-header-cell>
    <mat-cell *matCellDef="let row">
{{row.newIngredients}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="fullDate">
    <mat-header-cell *matHeaderCellDef mat-sort-header>Timeline</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.dateString}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="details">
    <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
    <mat-cell *matCellDef="let row">

    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="references">
    <mat-header-cell *matHeaderCellDef>References</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-list>
        <mat-list-item *ngIf="row.press"><a href = "https://www.fda.gov/NewsEvents/Newsroom/PressAnnouncements/{{row.press}}.htm" target="_blank">Press Release</a></mat-list-item>
        <mat-list-item *ngIf="row.trials"><a href = "https://www.fda.gov/Drugs/InformationOnDrugs/{{row.trials}}.htm" target="_blank">Drug Trials</a></mat-list-item>
      </mat-list>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="use">
    <mat-header-cell *matHeaderCellDef >Use</mat-header-cell>
    <mat-cell *matCellDef="let row">
      {{row.use}}
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="notes">
    <mat-header-cell *matHeaderCellDef >Notes</mat-header-cell>
    <mat-cell *matCellDef="let row">
<span *ngIf="row.first" matTooltip="First-in-class" [matTooltipPosition]="'above'"><mat-icon [color]="checked.first ? 'primary' : ''"> verified_user </mat-icon></span>
<span *ngIf="row.orphan" matTooltip="Orphan Designation" [matTooltipPosition]="'above'"><mat-icon [color]="checked.orphan ? 'primary' : ''"> child_friendly </mat-icon></span>
<span *ngIf="row.fastTrack" matTooltip="Fast Track" [matTooltipPosition]="'above'"><mat-icon [color]="checked.fastTrack ? 'primary' : ''"> flight_takeoff </mat-icon></span>
<span *ngIf="row.breakthrough" matTooltip="FDA Breakthrough Designation" [matTooltipPosition]="'above'"><mat-icon [color]="checked.breakthrough ? 'primary' : ''"> trending_up </mat-icon></span>
<span *ngIf="row.priority" matTooltip="Priority Review" [matTooltipPosition]="'above'"><mat-icon [color]="checked.priority ? 'primary' : ''"> visibility </mat-icon></span>
<span *ngIf="row.accelerated" matTooltip="FDA Accelerated Approval" [matTooltipPosition]="'above'"><mat-icon [color]="checked.accelerated ? 'primary' : ''"> fast_forward </mat-icon></span>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" fxLayoutAlign="center start" (click)="drugClick(row)" [ngClass]="{clicked: clicked}" (mouseenter) ="hover(row) "  (mouseleave) ="hover(row)"></mat-row>
</mat-table>
