<mat-toolbar [color]="'primary'">
<mat-toolbar-row id="ncats-banner" fxLayout="row" fxLayout.xs="column" [fxHide.lt-sm]="true">
    <img src="./assets/images/nihribbon-hhs.svg" alt="HHS Logo">
  <a href="http://www.hhs.gov/" title="Go to the hhs.gov"target="_blank">U.S. Department of Health &amp; Human Services</a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NIH logo">
  <a href="http://www.nih.gov/" title="National Institutes of Health | Homepage"target="_blank">National Institutes of Health</a>
  <img src="./assets/images/nihribbon-divider.svg" alt="Divider Arrow">
  <img src="./assets/images/nih-ribbon.svg" alt="NCATS">
  <a href="http://www.ncats.nih.gov" target="new">NCATS</a>
</mat-toolbar-row>
  <mat-toolbar-row id = "ncats-logo" fxLayout="row" fxLayout.xs="column">
    <div >
      <a href="http://www.ncats.nih.gov" title="National Center for Advancing Translational Sciences | Homepage" target="new">
        <img src="./assets/images/ncats.svg" alt="ncats logo" class=" ncats-logo" id="logo">
      </a>
    </div>
    <div [fxHide.lt-sm]="true">
      <a href = "https:drugs.ncats.io"><span class = "logo-header subsection">&nbsp; <span class = "logo-header">Inxight:</span> Drugs</span></a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

