<mat-card>
  <mat-card-title>Year</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-checkbox (change)="changeYear($event, 2017)" aria-label="2017" [checked] ="'true'">2017</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
      <mat-checkbox (change)="changeYear($event, 2016)" aria-label="2016">2016</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="changeYear($event, 2015)" aria-label="2015">2015</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="changeYear($event, 2014)" aria-label="2014">2014</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="changeYear($event, 2013)" aria-label="2013">2013</mat-checkbox>
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="changeYear($event, 2012)" aria-label="2012">2012</mat-checkbox>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Application Type</mat-card-title>
  <mat-card-content>
    <mat-list>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'first')" aria-label="first in class"></mat-checkbox>&nbsp; First-in-class (&nbsp;<mat-icon [color]="checked.first ? 'primary' : ''"> verified_user </mat-icon>&nbsp; {{getCount("first")}})
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'orphan')" aria-label="Orphan Designation"></mat-checkbox>&nbsp; Orphan Designation (&nbsp; <mat-icon [color]="checked.orphan ? 'primary' : ''"> child_friendly </mat-icon>&nbsp; {{getCount("orphan")}})
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'fastTrack')" aria-label="Fast Track"></mat-checkbox>&nbsp; Fast Track (&nbsp; <mat-icon [color]="checked.fastTrack ? 'primary' : ''"> flight_takeoff </mat-icon>&nbsp; {{getCount("fastTrack")}})
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'breakthrough')" aria-label="FDA Breakthrough Designation"></mat-checkbox>&nbsp; FDA Breakthrough Designation(&nbsp; <mat-icon [color]="checked.breakthrough ? 'primary' : ''"> trending_up </mat-icon>&nbsp; {{getCount("breakthrough")}})
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'priority')" aria-label="Priority Review"></mat-checkbox>&nbsp; Priority Review (&nbsp;<mat-icon [color]="checked.priority ? 'primary' : ''"> visibility </mat-icon>&nbsp; {{getCount("priority")}})
      </mat-list-item>
      <mat-list-item>
        <mat-checkbox (change)="toggleFilter($event, 'accelerated')" aria-label="FDA Accelerated Approval"></mat-checkbox>&nbsp; FDA Accelerated Approval(&nbsp;<mat-icon [color]="checked.accelerated ? 'primary' : ''"> fast_forward </mat-icon>&nbsp; {{getCount("accelerated")}})
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>

<!--
<mat-form-field>
  <mat-select [formControl] = "yearFilterCtrl" multiple>
    <mat-option [value]=2017>2017 </mat-option>
    <mat-option [value]=2016>2016 </mat-option>
    <mat-option [value]=2015>2015 </mat-option>
    <mat-option [value]=2014>2014 </mat-option>
    <mat-option [value]=2013>2013 </mat-option>
    <mat-option [value]=2012>2012 </mat-option>
  </mat-select>
</mat-form-field>

<div fxLayout="row" >
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
  <div fxFlex="1 1 auto" class="with-icon">
  </div>
</div>
-->
