.mat-table {
}

.mat-column-select {
  overflow: visible;
}

.col0{
  min-width: 0%;
}
.col10{
  min-width: 10%;
}

.col20{
  min-width: 20%;
}

.col60{
  min-width: 60%;
}

.col80{
  min-width: 80%;
}

.facet-list {
  width: 35vw;
}

@media only screen and (max-width: 960px) {
  .facet-list {
    width:50vw;
  }

  .full-width {
    width: 95vw;
  }
}

@media only screen and (max-width: 768px) {
  .facet-list {
    width: 95vw;
  }

  .full-width {
    width: 95vw;
  }
}
