<mat-card>
  <mat-card-content>
<div >
  <mat-table #yearTable [dataSource]="yearDataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select" >
      <mat-header-cell *matHeaderCellDef class="col10">
        <mat-checkbox (change)="$event ? masterYearToggle() : null"
                      [checked]="yearSelection.hasValue() && isAllYearSelected()"
                      [indeterminate]="yearSelection.hasValue() && !isAllYearSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="col10">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? yearSelection.toggle(row.key) : null"
                      [checked]="yearSelection.isSelected(row.key)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="filter" >
      <mat-header-cell *matHeaderCellDef class="col80"><h1>Year </h1></mat-header-cell>
      <mat-cell *matCellDef="let row" class="col80"> {{row.key}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef class="col10"> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="col10">{{row.count}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="yearSelection.toggle(row.key)">
    </mat-row>
  </mat-table>
</div>
</mat-card-content>
</mat-card>
<mat-card>
  <mat-card-content>
<div >
  <mat-table #applicationTable [dataSource]="applicationDataSource">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef class="col10">
        <mat-checkbox (change)="$event ? masterApplicationToggle() : null"
                      [checked]="applicationSelection.hasValue() && isAllApplicationSelected()"
                      [indeterminate]="applicationSelection.hasValue() && !isAllApplicationSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row" class="col10">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? applicationSelection.toggle(row.value) : null"
                      [checked]="applicationSelection.isSelected(row.value)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="filter">
      <mat-header-cell *matHeaderCellDef class="col80"><h1>Application Type </h1></mat-header-cell>
      <mat-cell *matCellDef="let row" class="col80"><mat-icon [color]="checked[row.value] ? 'primary' : ''"> {{row.icon}} </mat-icon> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="count">
      <mat-header-cell *matHeaderCellDef class="col0"> </mat-header-cell>
      <mat-cell *matCellDef="let row" class="col10">{{getCount(row.value)}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"
             (click)="applicationSelection.toggle(row.value)">
    </mat-row>
  </mat-table>
</div>
</mat-card-content>
</mat-card>



