<div #historyChartTarget></div>

<!--<h3>clinical development times: </h3>
<p>
Median –  {{median}} years<br>
Shortest &#45;&#45; {{min?.developmentTime.toFixed(2) }} years &#45;&#45; &nbsp;
    <ng-template [ngIf]="min?.unii">
    <a href = "https://drugs.ncats.io/ginas/app/drug/{{min?.unii}}" target="_blank">{{min?.ingredients}}</a>
  </ng-template>
  <br>
    <ng-template [ngIf]="!min?.unii">
      {{min?.ingredients}}
    </ng-template> Longest – {{max?.developmentTime.toFixed(2) }} years &#45;&#45; &nbsp;
    <ng-template [ngIf]="max?.unii">
    <a href = "https://drugs.ncats.io/ginas/app/drug/{{max?.unii}}" target="_blank">{{max?.ingredients}}</a>
  </ng-template>
    <ng-template [ngIf]="!max?.unii">
      {{max?.ingredients}}
    </ng-template>
  <br>
</p>-->
