
 <div fxLayout="row" id="timeLine">
   <div fxFlex="100">
<app-timeline></app-timeline>
   </div>
 </div>

 <hr>

 <div fxLayout="row">
   <div fxFlex="33">
   <app-drug-charts [field]="'moleculeType'" [label]="'Molecule Type'"></app-drug-charts>
   </div>
   <div fxFlex="33">
   <app-drug-charts [field]="'substanceClass'" [label]="'Substance Class'"></app-drug-charts>
   </div>
   <div fxFlex="33">
   <app-drug-charts [field]="'pharmacology'" [label]="'Pharmacology'"></app-drug-charts>
   </div>
 </div>

 <div fxLayout="row">
   <div fxFlex="100">
   <app-drug-details></app-drug-details>
   </div>
 </div>
