a {
  color: #337ab7;
  text-decoration: none;
}
a:hover, a:focus {
  color: #23527c;
  text-decoration: underline;
}
#footer-links{
  display: flex;
}
footer {
  flex-shrink: 0;
  margin-top: auto;
}
